# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# Build Folder
/Build
!/!**/build
/out
!/!**/out

# VS Code project folder
.vscode/
.vs/